[user]
	name = Mesi Rendon
	email = hello@mesirendon.com
  signingkey = ~/.ssh/id_ed25519.pub
[url "git@github.com:"]
	insteadOf = https://github.com
[push]
	autoSetupRemote = true
[init]
	defaultBranch = main
[core]
	editor = nvim
[merge]
  tool = nvimdiff
[mergetool]
  prompt = false
  keepBackup = false
[gpg]
  format = ssh
[commit]
  gpgsign = true
[gpg "ssh"]
	program = /usr/bin/ssh-keygen
