[user]
	name = Mesi Rendon
	email = hello@mesirendon.com
[url "git@github.com:"]
	insteadOf = https://github.com
[push]
	autoSetupRemote = true
[init]
	defaultBranch = main
[core]
	editor = nvim
[merge]
  tool = nvimdiff
[mergetool]
  prompt = false
  keepBackup = false
